<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>月月兴食品商行-订单详情</title>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<!--设备原始宽度，不允许缩放，user-scalable是否允许用户手动缩放 inital-scale初始缩放比例 以及允许用户缩放到的最大和最小比例-->
<meta content="yes" name="apple-mobile-web-app-capable" />  
<meta content="black" name="apple-mobile-web-app-status-bar-style" />  
<!--在IOS系统中以上两个meta会让网页内容以应用程序风格显示，并使状态栏透明 上面一个content有俩值yes和no 此meta作用是删除默认的苹果工具栏和菜单栏，如果需要显示时不加此行meta 第二个meta的content有三个值default（白色） black(黑色) black-translucent（灰色半透明）若值为“black-translucent”将会占据页面px位置，浮在页面上方（会覆盖页面20px高度–iphone4和itouch4的Retina屏幕为40px）。-->
<meta name="format-detection" content="telephone=no">
<meta content="email=no" name="format-detection" />
<!--以上两条mate作用为：告诉设备忽略将页面中的数字识别为电话号码 将不识别邮箱-->
<link type="text/css" href="/css/wap/kaych.reset.css" rel="stylesheet"/><!--页面重置css文件-->
<link type="text/css" href="/css/wap/kaych.framework.css" rel="stylesheet"/><!--页面框架css文件-->
<link type="text/css" href="/css/wap/kaych.ui-visual.css" rel="stylesheet"/><!--视觉效果（即样式，与框架分离）css属性文件-->
<link type="text/css" href="/css/wap/kaych.indexLayout.css" rel="stylesheet"/><!--页面细致布局css文件--> 
<link rel="stylesheet" type="text/css" href="/css/wap/kaych.commons.css"><!--页面通用CSS文件-->
<link rel="stylesheet" type="text/css" href="/css/wap/kaych.media.screen.css"><!--页面分辨率检测启用不同布局CSS文件-->
<!--[if lt IE 9]>
<script src="/js/wap/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="/js/wap/DD_belatedPNG.js"></script>
<script>DD_belatedPNG.fix(".png_bg,img,.png_bg a:hover");</script>
<![endif]-->
<script src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/wap/custominput.js"></script><!--表单美化-->
<script type="text/javascript" src="/js/wap/payfor.js"></script><!--商品数量加减JS-->
<script type="text/javascript" src="/js/wap/modal.js"></script><!--弹出层JS-->
<script type="text/javascript" src="/js/wap/jquery.event.drag-1.5.min.js"></script><!--轮播图JS-->
<script type="text/javascript" src="/js/wap/jquery.touchSlider.js"></script><!--轮播图JS-->
<!--轮播图JS-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".main_visual").hover(function () {
            $("#btn_prev,#btn_next").fadeIn()
        }, function () {
            $("#btn_prev,#btn_next").fadeOut()
        })
        $dragBln = false;
        $(".main_image").touchSlider({
            flexible: true,
            speed: 200,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".flicking_con a"),
            counter: function (e) {
                $(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
            }
        });
        $(".main_image").bind("mousedown", function () {
            $dragBln = false;
        })
        $(".main_image").bind("dragstart", function () {
            $dragBln = true;
        })
        $(".main_image a").click(function () {
            if ($dragBln) {
                return false;
            }
        })
        timer = setInterval(function () { $("#btn_next").click(); }, 5000);
        $(".main_visual").hover(function () {
            clearInterval(timer);
        }, function () {
            timer = setInterval(function () { $("#btn_next").click(); }, 5000);
        })
        $(".main_image").bind("touchstart", function () {
            clearInterval(timer);
        }).bind("touchend", function () {
            timer = setInterval(function () { $("#btn_next").click(); }, 5000);
        })
    });
</script>
<script src="/js/main.js"></script>
<!--弹出层JS-->
<script type="text/javascript">
    $(document).ready(function () {

        //$("a.icon").click(function(){
        //		$("#login-modal").modal("hide");
        //		$("#forgetform").modal({show:!0})
        //	});
        $("#chart-modal").modal("hide"); var zong = 0;
        var sum = 0;
        var skulist = null;
        var countlist = null;
        var cid = 0;
        var stid = 0;
        skulist = $("#skulist").val();
        var ids = skulist.split(',');
        countlist = $("#countlist").val();
        var count = countlist.split(',');
        cid = $("#cid").val();
        stid = $("#stid").val();
        for (i = 0; i < ids.length; i++) {
            $.ajax({
                url: "/_ashx/transportation_json.ashx",
                type: 'post',
                data: { skuID: ids[i], count: count[i], cID: cid, stID: stid },
                async: false,
                success: function (data) {
                    if (data == null) {
                        alert(data);
                        return;
                    } else {
                        sum = data * 1 + sum * 1;
                    }
                }
            });
        }
        $("#yunfei").text('￥' + sum.toFixed(2));
        var opric = zong * 1 + sum * 1;
        $("#opric").text('￥' + opric.toFixed(2));
        var zhek="@ViewData["zhek"]";

        var yuanjia="@ViewData["yuanjia"]";
        var youhui=yuanjia- yuanjia*1*zhek*1;
        $("#youhui").text(youhui.toFixed(2));

    });

    $(document).ready(function () {
        $(".slide-div1").click(function () {
            $(".order-cont1").slideToggle("slow");
        });

        $(".slide-div2").click(function () {
            $(".order-cont2").slideToggle("slow");
        });

        $(".slide-div3").click(function () {
            $(".order-cont3").slideToggle("slow");
        });

        $(".radio1").click(function () {
            $(".radio1-cont").slideToggle("slow");
        });
    });

    function cancelOrder(oid)
    {
        $.ajax({
            type:"post",
            url:"/wapvipCenter/cancelOrder?oid="+oid,
            success:function(data)
            {
                if(data=="已取消")
                {
                location.href="/wapvipCenter/VipOrder?status="+ @ViewBag.orderinfo.o_StatusCode;
                }
            }
        })
    }
</script>
</head>

<body>
<header>
<input type="hidden" value="@ViewBag.payfor.pay_ID" id="cid" />
<input type="hidden" value="@ViewBag.stname.st_ID" id="stid" />
<input type="hidden" value="@ViewData["skulist"]" id="skulist" /> 
<input type="hidden" value="@ViewData["countlist"]" id="countlist" /> 
	<div class="wrap hidden relative">
    	<div class="side-icon left textrt"><a href="/wapvipCenter/VipOrder?status=@ViewData["status"]">返回</a></div>
    	<h2 class="titles">订单详情</h2>
    </div><!--wrap end-->
</header>
<div class="zw-div"></div>
<div class="wrap hidden">
    <div class="bgColor-white hidden">
     @foreach (var sku in ViewBag.ordersku)
     { 
    	<div class="goods-cont margin2"> 
            <div class="shopping-img"><img src="@sku.pi_Url" alt="@sku.p_Name" style="width:54px;height:54px" /></div>
            <dl>
            	<dt>@sku.p_Name</dt>
                <dd><span>数量x @sku.os_pCount</span><strong>￥@sku.sku_Price</strong></dd>
            </dl>
         </div>
     }
         <div class="order-infos">
         	<p>订单号：@ViewBag.orderinfo.o_Code</p>
         	<p><b>
            @if (ViewBag.orderinfo.o_StatusCode.ToString() == "0")
            {
            <a href="javascript:void(0)" onclick="cancelOrder(@ViewBag.orderinfo.o_ID)"><em></em>取消订单</a>
            }
            </b>订单状态：@ViewBag.orderinfo.o_StatusCode.ToString().Replace("0", "待付款").Replace("2", "待收货").Replace("1", "待发货").Replace("3", "待收货").Replace("4", "完成").Replace("5", "已取消")</p>
         </div>
    </div><!--bgColor-white end-->
    <div class="wrapper bg1 hidden">
    	<div class="margin3 bgColor-white borders">
            <span class="alignleft">@ViewBag.coninfo.c_Name</span><span class="alignright">@ViewBag.coninfo.c_Mobilephone</span>
            <div class="clear"></div>
            <p>@ViewBag.coninfo.c_CProvice@ViewBag.coninfo.c_CCity@ViewBag.coninfo.c_CCount@ViewBag.coninfo.c_FullAddress</p>
        </div>
    </div><!--bg1 end-->
    <div class="margin3 bgColor-white borders">
        <p>运费：<c id="yunfei">￥0.00</c></p>
        @if (ViewData["zhek"] != null)
        { 
            <p>折扣：@ViewData["zhek"]</p>
            <p>优惠：￥<c id="youhui"></c></p>
        }
        else
        { 
            <p>优惠：￥0.00</p>
        }
        <p>配送方式：@ViewBag.stname.st_Name</p>
        <p>备注：@ViewBag.orderinfo.o_Mark</p>
        
    </div>
    <div class="clear"></div>
</div><!--wrap end-->
<div class="clearh"></div>
<div class="zw-div"></div>
<div class="footer-nav">
	<div class="wrap">
    	<div class="pay-idear alignleft">支付方式：@ViewBag.payfor.pay_Name</div>
        <div class="total-dollar alignright">实付款：<span id="shifu">@ViewBag.orderinfo.o_Pric</span></div>
    </div><!--wrap end-->
</div><!--footer-nav end-->
</body>
</html>
