@{
    ViewBag.Title = "月月兴食品商行-会员中心-安全中心";
    Layout = "~/Views/YueyXing/MasterPage/Index.cshtml";
}

<link type="text/css" href="/css/kaych.reset.css" rel="stylesheet"/><!--页面重置css文件  警告：此文件内所有CSS均影响网站全局属性，请慎重修改！！！-->
<link type="text/css" href="/css/kaych.commons.css" rel="stylesheet"/><!--页面公用css文件  警告：此文件内所有CSS均影响网站全局属性，请慎重修改！！！-->
<link type="text/css" href="/css/kaych.framework.css" rel="stylesheet"/><!--页面大框架css文件-->
<link rel="stylesheet" type="text/css" href="/css/kaych.vip.css"><!--会员中心CSS文件-->
<link rel="stylesheet" type="text/css" href="/css/jquery.ui.datepicker.css"><!--我的订单页面日期选择控件CSS文件-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script>DD_belatedPNG.fix(".png_bg,img,.png_bg a:hover");</script>
<![endif]-->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script><!--banner轮播图JS-->
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script><!--页面小广告bannerJS库-->
<script src="/js/script.js" type="text/javascript"></script><!--全部商品导航JS-->
<script type='text/javascript' src='/js/tuan.js'></script><!--团购页面内活动特效-->
<script type='text/javascript' src="/js/jquery.lazyload.min.js"></script><!--图片延迟加载JS-->
<script type='text/javascript' src='/js/tuanBanner.js'></script><!--团购轮播图JS-->
<script type="text/javascript" src="/js/ddsmoothmenu.js"></script><!--下拉导航JS-->
<script type="text/javascript" src="/js/payfor.js"></script><!--商品数量增加减少 算总价JS-->
<script type="text/javascript" src="/js/jquery.ui.core.js"></script><!--我的订单页面日期选择控件-->
<script type="text/javascript" src="/js/jquery.ui.datepicker.js"></script><!--我的订单页面日期选择控件-->

<script type="text/javascript">
        function sendemail() {
            $.ajax({
                type: "post",
                url: "/Vipscore/sendemail?mid=" + $("#mid").val(),
                success: function (data) {
                    if (data != "") {
                         location.href = data;
                    }
                }
            });
        }

</script>


<input type="hidden" value="@ViewData["count"]" id="count" />
<input type="hidden" value="@ViewData["page"]" id="curpage" />
<input type="hidden" value="@ViewData["pagerows"]" id="pagerows" /> 
<input type="hidden" value="@ViewData["mid"]" id="mid" /> 
<div class="breadcrumb">
	<a href="/Index/Index"><strong>首页</strong></a> > <a href="/UserInfo/Index">会员中心</a>  > 账户管理 - 安全中心
</div><!--breadcrumb end-->
<div class="clearh"></div>
<div class="wrap">
    @Html.Action("LeftMenu", "Vipscore")    
    <div class="side-cont alignright">
        <div class="side-content borders">
        	<div class="wrappers">
            	<div class="vip-title"><h4>安全中心</h4></div>
                <div class="vip-content">
                	<div class="base-messages">
                		<p><strong>您的基础信息：</strong></p>
                        <div class="base-cont">
                        
                        	<p>用户名：@Model.m_UserName</p>
                        	<p>邮箱：@Model.m_Email<font><a href="/AccountManage/vipAccountData?centerindex=5">修改邮箱</a></font></p>
                            <input type="hidden" value="@ViewData["email"]" id="mail" />
                            <p>手机号码：@Model.m_Phone</p>
                            <p>上次登录时间：@Model.m_CloseDate（若不是您本人登陆，可能您的密码已经泄漏，请<a href="/VipUpdatePassword/vipPasswordValidation?centerindex=8">点击这里</a>修改密码）</p>
                        </div><!--base-cont end-->
                    </div><!--base-messages end-->
                    <table class="safecenter">
                    	<tbody>
                        	<tr>
                            	<td width="50"><div class="verify-state icons1"></div></td>
                                <td width="100"><strong>登录密码</strong></td>
                                <td><span>互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</span></td>
                                <td><a href="/VipUpdatePassword/vipPasswordValidation?centerindex=8">修改</a></td>
                            </tr>
                            <tr>@if (Convert.ToBoolean(ViewData["Isshenpi"]))
                                {
                            	<td><div class="verify-state icons1"></div></td>
                                <td><strong>邮箱验证</strong></td>
                                <td>验证后，可用于快速找回密码，接受订单处理提醒。</td>
                                <td><a href="#">已验证</a></td>
                                }
                                else { 
                            	<td><div class="verify-state icons2"></div></td>
                                <td><strong>邮箱验证</strong></td>
                                <td>验证后，可用于快速找回密码，接受订单处理提醒。</td>
                                <td><a href="javascript:void(0)" onclick="sendemail()">立即验证</a></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearh"></div>
                    <div class="yellow-bg">建议您启动全部安全设置，以保障账户的安全</div>
                    <div class="clearh"></div>
                    <div class="safe-tip">
                    	<h5>安全服务提示</h5>
                        <p>1.确认您登录的是月月兴食品商行网网址http://www.yyxfood.com，注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品或支付链接，谨防网购诈骗。</p>
                        <p>2.建议您安装杀毒软件，并定期更新操作系统等软件补丁，确保账户及交易安全。</p>
                    </div><!--safe-tip end-->
                </div><!--vip-content end-->
                <div class="clear"></div>
            </div><!--wrappers end-->
            <div class="clear"></div>
        </div><!--pro-cont end-->
    </div><!--side-cont end-->
    <div class="clear line2"></div>
          <div class="pro-titles">
          	  <h3>推荐商品</h3>
          </div>
          <ul class="pro-class-list">
            	@Html.Action("Tuijian", "Vipscore")
            </ul>
</div><!--wrap end-->
<div class="clear line2"></div>

<!--产品分类搜索JS-->
<script type="text/javascript">
    var dlNum = $("#classify").find("dl");
    for (i = 0; i < dlNum.length; i++) {
        $(".chose-results .choselist").append("<div class=\"conditions selectedShow\" style=\"display:none\"><span></span><label></label><em></em></div>");
    }

    var refresh = "true";

    $(".list-cont a ").live("click", function () {
        var text = $(this).text();
        var selectedShow = $(".selectedShow");
        var textTypeIndex = $(this).parents("dl").index();
        var textType = $(this).parent("dd").siblings("dt").text();
        index = textTypeIndex - (2);
        $(".clearDd").show();
        $(".selectedShow").eq(index).show();
        $(this).addClass("selected").siblings().removeClass("selected");
        selectedShow.eq(index).find("span").text(textType);
        selectedShow.eq(index).find("label").text(text);
        var show = $(".selectedShow").length - $(".selectedShow:hidden").length;
        if (show > 1) {
            $(".delete").show();
        }

    });
    $(".selectedShow em").live("click", function () {
        $(this).parents(".selectedShow").hide();
        var textTypeIndex = $(this).parents(".selectedShow").index();
        index = textTypeIndex;
        $(".list-cont").eq(index).find("a").removeClass("selected");

        if ($(".list-cont .selected").length < 2) {
            $(".delete").hide();
        }
    });

    $(".delete").live("click", function () {
        $(".selectedShow").hide();
        $(this).hide();
        $(".list-cont a ").removeClass("selected");
    }); 
</script>
<script type="text/javascript">
    //导航下拉菜单横导航
    ddsmoothmenu.init({

        mainmenuid: "smoothmenu1", //menu DIV id

        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"

        classname: 'navCon-menu'

    });

    //帮助中心左侧导航JS
    $(document).ready(function () {

        /* 滑动/展开 */
        $("ul.nav-list li > div.header").click(function () {

            var arrows = $(this).find("span.arrows");

            if (arrows.hasClass("up")) {
                arrows.removeClass("up");
                arrows.addClass("down");
            } else if (arrows.hasClass("down")) {
                arrows.removeClass("down");
                arrows.addClass("up");
            }

            $(this).parent().find("ul.menu").slideToggle();

        });

    });

    //首页团购banner下方的广告轮播JS
    jQuery(".ad-banner").slide({ mainCell: ".pic", effect: "left", autoPlay: true, delayTime: 300 });

    //首页产品分类里的广告轮播JS
    jQuery(".pro-banner").slide({ mainCell: ".pic", effect: "left", autoPlay: true, delayTime: 300 });

    //首页品牌推荐大图轮播
    jQuery("#iFocus li a").hover(function () { $(this).css("opacity", 1).siblings().css("opacity", 0.7) }, function () { $(this).css("opacity", 1).siblings().css("opacity", 1) }); //鼠标移到图片上时聚焦效果
    jQuery("#iFocus").slide({ titCell: ".btn span", mainCell: "ul", effect: "left", autoPlay: true });

    //首页小品牌无缝滚动JS
    jQuery(".picScroll").slide({ mainCell: "ul", effect: "leftMarquee", vis: 9, autoPlay: true, interTime: 50, switchLoad: "_src" });

    //侧边栏一周销量排行榜JS
    jQuery(".sales-list").slide({ titCell: "li", triggerTime: 0 });


    //图片延迟加载
    (function () {

        var th = this;

        th.pageSize = 1000; /* 每屏大概高度为1000px */

        th.pageQuotiety = 0.5; /* 提前下载量 */

        th.imgName = "page_cnt_"; /* 图片通用名 */

        th.imgs = []; /* 每屏图片 [每屏所有图片，第一张图片，第一张图片绝对top:加载图片的top] */

        var B = {}; /* Browser check */

        B.ua = window.navigator.userAgent.toLowerCase();

        B.ie = /msie/.test(B.ua);

        B.moz = /gecko/.test(B.ua);

        B.opera = /opera/.test(B.ua);

        B.safari = /safari/.test(B.ua);

        var $N = function (s, docu) {
            var doc = docu ? docu : document;
            return (typeof s == "object") ? s : doc.getElementsByName(s);
        };

        th.getWindowSize = function () {
            var a = {};
            if (window.self && self.innerWidth) {
                a.width = self.innerWidth;
                a.height = self.innerHeight;
                return a;
            } if (document.documentElement && document.documentElement.clientHeight) {
                a.width = document.documentElement.clientWidth;
                a.height = document.documentElement.clientHeight;
                return a;
            }
            a.width = document.body.clientWidth;
            a.height = document.body.clientHeight;
            return a;
        }

        th.getObjPosition = function (obj) {
            var a = {};
            a.x = obj.offsetLeft, a.y = obj.offsetTop;
            while (obj = obj.offsetParent) {
                a.x += obj.offsetLeft;
                a.y += obj.offsetTop;
            }
            return a;
        }

        th._getPageScroll = function () {
            var s;
            if (typeof (window.pageYOffset) != "undefined") {

                s = window.pageYOffset;
            } else if (document.documentElement && document.documentElement.scrollTop) {
                s = document.documentElement.scrollTop;
            } else if (document.body) {
                s = document.body.scrollTop;
            }
            return s;
        }

        th._loadImages = function (a) {
            if (!a) return;
            var obj = a;
            if (typeof a == "string") {
                obj = $N(a);
            } for (var i = 0; i < obj.length; i++) {
                var s = obj[i];
                if (typeof s == "object") {
                    if (s.getAttribute("_src")) {
                        s.setAttribute("src", s.getAttribute("_src"));
                        s.removeAttribute("_src", 0);
                    }
                }
            }
            delete obj;
            obj = null;
        }

        th._loadAllImgs = function () {
            var i = 0;
            while (th.imgs[i]) {
                th._loadImages(th.imgs[i][0]);
                i++;
            }
        }

        th.getImgPosition = function () {
            var i = 1;
            var p = $N(th.imgName + i);
            while (p && p.length > 0) {
                var p = $N("page_cnt_" + i);
                var t = th.getImgLoadPosition(p[0]);
                th.imgs.push([p, p[0], t]);
                i++;
                p = $N(th.imgName + i);
            }
        }

        th.getImgLoadPosition = function (a) {
            var t = { imgTop: 0, pageTop: 0 };
            if (a) {
                var w = th.getWindowSize();
                t.imgTop = parseInt(th.getObjPosition(a).y);
                t.pageTop = parseInt((t.imgTop / 1000 - th.pageQuotiety) * 1000);
            }
            return t;
        }

        th._addScrollEven = function () {
            if (B.ie) {
                window.attachEvent("onscroll", th._scrollFn);
            } else {
                window.addEventListener("scroll", th._scrollFn, false);
            }
        }

        th._removeScrollEven = function () {
            if (B.ie) {
                window.detachEvent("onscroll", th._scrollFn);
            } else {
                window.removeEventListener("scroll", th._scrollFn, false);
            }
        }

        th._scrollFn = function () {
            var y = th._getPageScroll();
            var w = th.getWindowSize().height;
            if (w == 0) {
                th._loadAllImgs();
                return;
            }
            var i = 0;
            var j = 0;
            while (th.imgs[i]) {
                if (!(y + w < th.imgs[i][2].pageTop)) {
                    th._loadImages(th.imgs[i][0]);
                    j++
                }
                i++;
                if (j >= th.imgs.length) {
                    th._removeScrollEven();
                }
            }
        }

        th.getImgPosition();
        th._addScrollEven();
        th._scrollFn();

    })()
</script>
<script type='text/javascript' src='/js/main.js'></script><!--散乱JS合集 重要 此JS放置位置要注意，需放置在导航及banner用的JS下方..-->
<!--分类导航滑倒顶部固定在顶部的JS-->
<script type="text/javascript">
    $.fn.smartFloat = function () {
        var position = function (element) {
            var top = element.position().top, pos = element.css("position");
            $(window).scroll(function () {
                var scrolls = $(this).scrollTop();
                if (scrolls > top) {
                    if (window.XMLHttpRequest) {
                        element.css({
                            position: "fixed",
                            top: 0
                        });
                    } else {
                        element.css({
                            top: scrolls
                        });
                    }
                } else {
                    element.css({
                        position: pos,
                        top: top
                    });
                }
            });
        };
        return $(this).each(function () {
            position($(this));
        });
    };
    //绑定
    $(".middle-nav").smartFloat();
</script>
