@using System.Collections.Generic
@using System.Data
@model IEnumerable<webs_YueyxShop.Model.EmployeeBase>
<input type="hidden" name="pageNum" value="@ViewData["CurrentPage"]" />
<input type="hidden" name="numPerPage" value="@ViewData["NumberPage"]" />
<input type="hidden" name="orderDirection" value="@ViewData["OrderDirection"]" />
<input type="hidden" name="orderField" value="@ViewData["OrderFile"]" />
<table class="table" width="100%" layouth="138" rel="TeacherBox">
    <colgroup width="20px" />
    <colgroup width="100px" />
    <colgroup width="100px" />
    <colgroup width="200px" />
    <colgroup width="120px" />
    <colgroup width="150px" />
    <colgroup width="120px" />
    <colgroup />
    <thead>
        <tr>
            <th>
            </th>
            <th>
                教师工号
            </th>
            <th>
                教师姓名
            </th>
            <th>
                院系
            </th>
            <th>
                性别
            </th>
            <th>
                手机
            </th>
            <th>
                生日
            </th>
            <th>
                状态
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow item in ((System.Data.DataTable)ViewData["PageList"]).AsEnumerable())
        { <tr target="e_ID" rel="@item["e_ID"]" title="双击查看详细信息" ondblclick ="EmployM_detail('e_ID=@item["e_ID"]')">
            <td>
            </td>
            <td>
                @item["e_GongH"]
            </td>
            <td>
                @item["e_MingC"]
            </td>
            <td>
                @item["d_MingCh"]
            </td>
            <td>
                @item["e_XingB"].ToString().Replace("0", "男").Replace("1", "女")
            </td>
            <td>
                @item["e_ShouJ"]
            </td>
            <td>
                @Convert.ToDateTime(item["e_ShengR"]).ToString("yyyy-MM-dd")
            </td>
            <td>
                <span style="color: Red">@item["e_StateCode"].ToString().Replace("0", "启用").Replace("1", "禁用").Replace("2", "")</span>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="panelBar">
    <div class="pages">
        <span>共 @ViewData["TotalCount"] 条</span>
    </div>
    <div class="pagination" rel="TeacherBox" targettype="navTab" totalcount="@ViewData["TotalCount"]"
        numperpage="@ViewData["NumberPage"]" pagenumshown="@ViewData["PagenumShown"]" currentpage="@ViewData["CurrentPage"]">
    </div>
</div>
