@model webs_YueyxShop.Model.ShipTypeBase
<!DOCTYPE html>

<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
</head>
<body>
    <form id="form1" runat="server" method="post" action="@Url.Action("ShipTypeBaseEdit", "ShipTypeBase")"  enctype="multipart/form-data"
    class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    @Html.HiddenFor(model => model.st_ID)
    @Html.Hidden("otype", @ViewData["otype"])
    @Html.Hidden("hfPId", @ViewData["hfPId"])
    <div class="pageContent">
        <div class="pageFormContent" layouth="52">
            <div class="unit">
                <label>
                    配送名称：</label>
                @Html.TextBoxFor(model => model.st_Name, new { @class = "required" })
            </div>
        </div>
        <div class="formBar">
            <ul>
                @if (Convert.ToBoolean(ViewData["IsHasFunRole"]))
                {
                    <li id="save">
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" >
                                    保存</button></div>
                        </div>
                    </li>
                }
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</body>
</html>
