@using System.Collections.Generic
@using System.Data
@using webs_YueyxShop.Model 

<input type="hidden" name="pageNum" value="@ViewData["CurrentPage"]" />
<input type="hidden" name="numPerPage" value="@ViewData["NumberPage"]" />
<input type="hidden" name="orderDirection" value="@ViewData["OrderDirection"]" />
<input type="hidden" name="orderField" value="@ViewData["OrderFile"]" />

@Html.Hidden("hfPId", @ViewData["hfPId"])
<table class="table" width="60%" layouth="110" rel="patBox">
    <colgroup width="10px" />
    <colgroup width="30px" />
    <colgroup width="30px" />
    <colgroup width="30px" />
    <colgroup width="30px" />
    <colgroup width="30px" />
    <thead>
        <tr>
            <th>
            </th>
            <th>
                产品编码
            </th>
            <th>
                 参数类别
            </th>
            <th>
                参数名称
            </th>
            <th>
                参数值
            </th>
            @*<th>
                状态
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow item in ((System.Data.DataTable)ViewData["PageList"]).AsEnumerable())
        {
            <tr target="attr_id" rel="@item["pa_ID"]|@item["sku_ID"]|@item["p_ID"]|@item["pad_Id"]" ondblclick="OpenMenuBaseEdit('@item["pa_ID"]|@item["sku_ID"]|@item["p_ID"]|@item["pad_Id"]')">
                <td>
                </td>
                <td>
                   @item["sku_Code"]
                </td>
                <td style="height:auto">
                    <span >@item["pa_Type"].ToString().Replace("1", "属性").Replace("2", "规格").Replace("3","颜色")</span>
                </td>
                <td>
                   @item["n"]
                </td>
                <td>
                    @item["nv"]
                </td>
                @*<td>
                    <span style="color: Red">@item["pa_StatusCode"].ToString().Replace("0", "启用").Replace("1", "禁用")</span>
                </td>*@
            </tr>
        }
    </tbody>
</table>
<div class="panelBar">
    <div class="pages">
        <span>共 @ViewData["TotalCount"] 条</span>
    </div>
    <div class="pagination" rel="patBox" targettype="navTab" totalcount="@ViewData["TotalCount"]"
        numperpage="@ViewData["NumberPage"]" pagenumshown="@ViewData["PagenumShown"]" currentpage="@ViewData["CurrentPage"]">
    </div>
</div>

<div class="panelBar">
    <div class="pages">
        <span>共 @ViewData["TotalCount"] 条</span>
    </div>
    <div class="pagination" rel="patBox" targettype="navTab" totalcount="@ViewData["TotalCount"]"
        numperpage="@ViewData["NumberPage"]" pagenumshown="@ViewData["PagenumShown"]" currentpage="@ViewData["CurrentPage"]">
    </div>
</div>


