@model webs_YueyxShop.Model.SKUBase
<!DOCTYPE html>
<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
</head>
<body>
    <form id="form1" runat="server" method="post" action="@Url.Action("ProductSKUEdit", "Products")"
    class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
    @Html.HiddenFor(model => model.sku_ID)
    @Html.HiddenFor(model => model.sku_ModifyOn)
    @Html.Hidden("texOtype", @ViewData["texOtype"])
    @Html.Hidden("hfPId", @ViewData["hfPId"])
    <div class="pageContent">
        <div class="pageFormContent" layouth="50">
            <dl>
                <dt>市场价:</dt>
                <dd>
                @Html.TextBoxFor(model => model.sku_scPric, new { @class = "number required" })</dd>
            </dl>
            <dl>
                <dt>销售价:</dt>
                <dd>
                @Html.TextBoxFor(model => model.sku_Price, new { @class = "number required" })</dd>
            </dl>
            <dl>
                <dt>成本价:</dt>
                <dd>@Html.TextBoxFor(model => model.sku_CostPrice, new { @class = "number required" })</dd>
                
            </dl>
            <dl>
                <dt>现有库存:</dt>
                <dd>@Html.TextBoxFor(model => model.sku_Stock, new { @class = "number required" })</dd>
            </dl>
            <dl>
                <dt>已售数量:</dt>
                <dd>@Html.TextBoxFor(model => model.sku_SalesCount, new { @class = "number required" })</dd>
            </dl>
            <dl>
                <dt>产品编码:</dt>
                <dd>@Html.TextBoxFor(model => model.sku_Code, new { @class = "required" })</dd>
                
            </dl>
        </div>
        <div class="formBar">
            <ul>
                @if (Convert.ToBoolean(ViewData["IsHasFunRole"]))
                {
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" id="save">
                                    保存</button></div>
                        </div>
                    </li>
                }
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</body>
</html>
