@using System.Collections.Generic
@using System.Data
@model IEnumerable<webs_YueyxShop.Model.AdertPositionBase>
<input type="hidden" name="pageNum" value="@ViewData["CurrentPage"]" />
<input type="hidden" name="numPerPage" value="@ViewData["NumberPage"]" />
<input type="hidden" name="orderDirection" value="@ViewData["OrderDirection"]" />
<input type="hidden" name="orderField" value="@ViewData["OrderFile"]" />
<table class="table" width="100%" rel="AdertPositionBaseBox" layouth="138" >
    <colgroup width="30px" />
    <colgroup width="100px" />
    <colgroup width="100px" />
    <colgroup width="50px" />
    <colgroup width="80px" />
    <colgroup width="30px" />
    <colgroup />
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                名称
            </th>
            <th>
                广告图建议尺寸
            </th>
            <th>
                创建时间
            </th>

            <th>
                状态
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="p_ID" rel="@item.p_ID">
                <td>
                    @item.p_ID
                </td>
                <td>
                    @item.p_PositionName
                </td>
                <td>
                    @item.p_PositionExplain
                </td>
                <td>
                    @item.p_CreateDate
                </td>
                <td>
                    @if (item.p_Status == 0)
                        {
                            <span style="color:green;">启用</span>
                        }
                        else { 
                            <span style="color:red;">禁用</span>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="panelBar">
    <div class="pages">
        <span>共 @ViewData["TotalCount"] 条</span>
    </div>
    <div class="pagination" rel="AdertPositionBaseBox" targettype="navTab" totalcount="@ViewData["TotalCount"]"
        numperpage="@ViewData["NumberPage"]" pagenumshown="@ViewData["PagenumShown"]" currentpage="@ViewData["CurrentPage"]">
    </div>
</div>