@model webs_YueyxShop.Model.AdertPositionBase
<!DOCTYPE html>
<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
    <script type="text/javascript">
        $(function () {
            $("#AdertPosition").change(function () {
                var seleval = $("#AdertPosition").val();
                if (seleval = "-1") {
                    $("#tishi").text("请选择广告位置！！！");
                }
                if (seleval = "0") {
                    $("#tishi").text("请上传1024*120像素图片！");
                }
            });
        })
    </script>
</head>
<body>
    <form id="form1" runat="server" method="post" action="@Url.Action("Save", "AdertPosition")"  class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone)">
    @Html.Hidden("txbotype", @ViewData["otype"])
    @Html.HiddenFor(model=>model.p_ID)
    <input type="hidden" id="hfFilePath" value="" />
    <div class="pageContent">
        <div class="pageFormContent" layouth="52">
            <div class="unit">
                <label>
                    广告位置名称：</label>
                @Html.TextBoxFor(model => model.p_PositionName, new { @class = "required", @style = "width:300px;" })
            </div>
            <div class="unit">
                <label>
                    广告图片尺寸：</label>
                @Html.TextBoxFor(model => model.p_PositionExplain, new { @class = "required", @style = "width:300px;" })
            </div>
            @*<div class="unit">
                <label>
                    显示位置：</label>
                @Html.DropDownList("XianshiPosition")
            </div>*@
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li id="save">
                <div class="buttonActive" id="submit" runat="server">
                    <div class="buttonContent">
                        <button id="sub" type="submit">
                            保存
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="button">
                    <div class="buttonContent">
                        <button type="button" class="close">
                            取消
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </form>
</body>
</html>
