@using System.Collections.Generic
@using System.Data

<!DOCTYPE html>
<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            divSearch($("#pagerForm", navTab.getCurrentPanel()), "RejectionBox");
        });
</script>
</head>
<body>
<form id="pagerForm" method="post"  action="@Url.Action("RejectionBaseList", "RejectionBase")" onsubmit="return divSearch(this,'RejectionBox');">
    <input type="hidden" id="hfPid" name="hfPid" value="0" />
    <input type="hidden" id="at_add" name="at_add" />
    <input type="hidden" id="hf_daohang" name="hf_daohang" />
    <input type="hidden" id="hf_cengj" name="hf_cengj" value="1" />
    <input type="hidden" id="hf_bianma" name="hf_bianma" />
    <input type="hidden" id="hf_type" name="type" />
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent" style="width: 100%;">
                <colgroup>
                    <col style="width: 40px;" />
                    <col />
                </colgroup>
                <tr>
                    <td>
                       检索:
                    </td>
                    <td>
                        <label id="div_daohang">
                        </label>
                    </td>
                </tr>
            </table>
            <table class="searchContent">
                <tr>
                    <td>
                        退货单号：
                    </td>
                    <td>
                        <input type="text" name="txtr_Code" id="txtNickName" />
                    </td>
                    <td>
                        订单编号：
                    </td>
                    <td>
                        <input type="text" name="txtOrderCode" id="txtOrderCode" />
                    </td>
                    <td>
                        退货时间：
                    </td>
                    <td>
                        <input id="txtStartDate" name="txtStartDate" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" />
                        <span>至</span>
                        <input id="txtEndDate" name="txtEndDate" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly="readonly" />
                    </td>
                    <td>
                        退货状态：
                    </td>
                    <td>
                        <label><input type="radio" name="o_Status" value="" checked="checked"/>全部</label>
                        <label><input type="radio" name="o_Status" value="0" />未处理</label>
                        <label><input type="radio" name="o_Status" value="1" />已拒绝</label>
                        <label><input type="radio" name="o_Status" value="2" />已完成</label>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" id="btn_Select">
                                    检索</button></div>
                        </div>
                    </li>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="reset" id="reset" >
                                    重置</button></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <!--列表-->
        <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                @if (Convert.ToBoolean(ViewData["IsHasFunRole"]))
                {
                    <li><a class="add" href="@Url.Action("RejectionBaseProductMsg?r_ID={r_ID}", "RejectionBase")"  target="navTab" rel="w_RejectionBaseEdit">
                        <span>商品详细</span></a></li>
                    <li class="line">line</li>
                    <li><a class="add" href="@Url.Action("RejectionBaseMemberEdit?r_ID={r_ID}", "RejectionBase")"  target="navTab" rel="w_RejectionBaseEdit">
                        <span>会员信息</span></a></li>
                    <li class="line">line</li>
                    <li><a class="delete" href="@Url.Action("RejectionStatus?otype=delete&r_ID={r_ID}", "RejectionBase")" rel="w_RejectionBaseDelete" 
                    target="ajaxTodo" title='确定删除？' warn="请选择信息！！！"><span>删除</span></a></li>
                    <li class="line">line</li>
                    <li><a class="delete" href="@Url.Action("RejectionStatus?otype=deny&r_ID={r_ID}", "RejectionBase")" rel="w_RejectionBaseDelete" 
                    target="ajaxTodo" title='确定拒绝？' warn="请选择信息！！！"><span>拒绝</span></a></li>
                    <li><a class="delete" href="@Url.Action("RejectionStatus?otype=agree&r_ID={r_ID}", "RejectionBase")" rel="w_RejectionBaseDelete" 
                    target="ajaxTodo" title='确定退货？' warn="请选择信息！！！"><span>同意</span></a></li>
                }
            </ul>
        </div>
        <div id="RejectionBox">

        </div>
    </div>
</form>

</body>
</html>
