@using System.Collections.Generic
@using System.Data
<!DOCTYPE html>
<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
    <script type="text/javascript">
        
        $(function () {
            divSearch($("#pagerForm", navTab.getCurrentPanel()), "pcBox");
        });
    </script>
</head>
<body>
    <form id="pagerForm" method="post"  action="@Url.Action("ProductConsultList", "ProductConsult")" onsubmit="return divSearch(this,'pcBox');">
    <input type="hidden" id="hf_add" name="hf_add" value="0" />
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        商品名称：
                    </td>
                    <td>
                        <input type="text" name="txtPrName" />
                    </td>
                    <td>
                        商品编码:
                    </td>
                    <td>
                        <input type="text" name="txtPrCode" />
                    </td>
                    <td>
                        咨询类型:
                    </td>
                    <td>
                        @Html.DropDownList("selectType")
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" id="btn_Select">
                                    检索</button></div>
                        </div>
                    </li>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="reset">
                                    重置</button></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--列表-->
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                @if (Convert.ToBoolean(ViewData["IsHasFunRole"]))
                {
                   
                    <li><a class="edit" href="@Url.Action("ProductConsultEdit?otype=modify&dli_id={dli_id}", "ProductConsult")" rel="w_ProductConsultEdit"
                        target="dialog"  width="650" height="400"><span>查看/回复</span></a></li>
                    <li class="line">line</li>
                    <li><a class="delete" href="@Url.Action("ProductConsultDelete?dli_id={dli_id}", "ProductConsult")" rel="w_ProductConsultDelete"
                    target="ajaxTodo" title='确定删除' warn="请选择信息！！！"><span>删除</span></a></li>
                    <li class="line">line</li>
                    <li><a class="unlock"  href="@Url.Action("ProductConsultEnable?otype=enable&dli_id={dli_id}", "ProductConsult")" target="ajaxTodo" warn="请选择信息！！！"><span>启用</span></a></li>
                    <li><a class="lock"  href="@Url.Action("ProductConsultEnable?otype=disable&dli_id={dli_id}", "ProductConsult")" target="ajaxTodo" warn="请选择信息！！！"><span>禁用</span></a></li>
                   
                    
                }
            </ul>
        </div>
        <div id="pcBox">
        </div>
    </div>
    </form>
</body>
</html>
