@using System.Collections.Generic
@using System.Data
<!DOCTYPE html>
<html>
<head id="Head1">
    <title>月月兴食品商行后台管理系统</title>
    <link href="../../js/append/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script src="../../js/append/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            divSearch($("#pagerForm", navTab.getCurrentPanel()), "MemberBox");
        });
        //        //查看
        //        function OpenBrandEdit(b_id) {
        //            navTab.openTab("w_BrandEdit", "/BrandBase/BrandEdit?otype=modify&b_ID=" + b_id, { title: "详细信息", fresh: true, external: false });
        //        }
        //显示图片
        function OpenBrandLogo(rel) {
            imgShow("#outerdiv", "#innerdiv", "#bigimg", "../../" + rel);
        }
        function imgShow(outerdiv, innerdiv, bigimg, rel) {
            var src = rel;
            $(bigimg).attr("src", src); //设置#bigimg元素的src属性

            /*获取当前点击图片的真实大小，并显示弹出层及大图*/
            $("<img/>").attr("src", src).load(function () {
                var windowW = $(window).width(); //获取当前窗口宽度
                var windowH = $(window).height(); //获取当前窗口高度
                var realWidth = this.width; //获取图片真实宽度
                var realHeight = this.height; //获取图片真实高度
                var imgWidth, imgHeight;
                var scale = 0.8; //缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放

                if (realHeight > windowH * scale) {//判断图片高度
                    imgHeight = windowH * scale; //如大于窗口高度，图片高度进行缩放
                    imgWidth = imgHeight / realHeight * realWidth; //等比例缩放宽度
                    if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度
                        imgWidth = windowW * scale; //再对宽度进行缩放
                    }
                } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度
                    imgWidth = windowW * scale; //如大于窗口宽度，图片宽度进行缩放
                    imgHeight = imgWidth / realWidth * realHeight; //等比例缩放高度
                } else {//如果图片真实高度和宽度都符合要求，高宽不变
                    imgWidth = realWidth;
                    imgHeight = realHeight;
                }
                $(bigimg).css("width", imgWidth); //以最终的宽度对图片缩放

                var w = (windowW - imgWidth) / 2; //计算图片与窗口左边距
                var h = (windowH - imgHeight) / 2; //计算图片与窗口上边距
                $(innerdiv).css({ "top": h, "left": w }); //设置#innerdiv的top和left属性
                $(outerdiv).fadeIn("fast"); //淡入显示#outerdiv及.pimg
            });

            $(outerdiv).click(function () {//再次点击淡出消失弹出层
                $(this).fadeOut("fast");
            });
        }
    </script>
</head>
<body>
    <form id="pagerForm" method="post" action=" @Url.Action("MemberBaseList", "MemberBase")" onsubmit="return divSearch(this,'MemberBox')">
    <div id="outerdiv" style="position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.7);
        z-index: 21; width: 100%; height: 100%; display: none;">
        <div id="innerdiv" style="position: absolute;">
            <img id="bigimg" style="border: 5px solid #fff;" src="" />
        </div>
    </div>
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent" style="width: 100%;">
                <tr>
                    <td>
                        会员名：
                    </td>
                    <td>
                        <input type="text" name="txtName" style="width: 200px;" />
                    </td>
                    <td>
                         手机号:
                    </td>
                    <td>
                        <input type="text" name="txtphone" style="width: 200px;" />
                    </td>
                    <td>
                         用户类型:
                    </td>
                    <td>
                        @Html.DropDownList("selusertype")
                    </td>
                    <td>
                         启用状态:
                    </td>
                    <td>
                        @Html.DropDownList("selstatus")
                    </td>
                    <td>
                         审核状态:
                    </td>
                    <td>
                        @Html.DropDownList("selshenhestatus")
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" id="btn_Select">
                                    检索</button></div>
                        </div>
                    </li>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="reset">
                                    重置</button></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add"  href="@Url.Action("MemberBaseEdit?otype=add", "MemberBase")" target="navTab" rel="w_MemberBaseEdit">
                    <span>添加批发用户</span></a></li>
                <li><a class="edit" href="@Url.Action("MemberBaseModify?otype=modify&m_ID={m_ID}", "MemberBase")" target="navTab" rel="w_MemberBaseEdit">
                    <span>编辑</span></a></li>
                <li class="line">line</li>
                    <li><a class="delete" href="@Url.Action("Delete?m_ID={m_ID}", "MemberBase")" rel="w_ProductsTypeDelete"
                    target="ajaxTodo" title='确定删除' warn="请选择信息！！！"><span>删除</span></a></li>
                    <li class="line">line</li>
                    <li><a class="unlock"  href="@Url.Action("MemberBaseStart?otype=enable&m_ID={m_ID}", "MemberBase")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>启用</span></a></li>
                    <li><a class="lock"  href="@Url.Action("MemberBaseEnd?otype=disable&m_ID={m_ID}", "MemberBase")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>冻结</span></a></li>
                    <li class="line">line</li>
                    <li><a class="unlock"  href="@Url.Action("MemberBaseShenheyes?otype=enable&m_ID={m_ID}", "MemberBase")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>审核通过</span></a></li>
                    <li><a class="lock"  href="@Url.Action("MemberBaseShenheno?otype=disable&m_ID={m_ID}", "MemberBase")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>打回</span></a></li>
            </ul>
        </div>
        <div id="MemberBox">
        </div>
    </div>
    </form>
</body>
</html>
