@using System.Collections.Generic
@using System.Data
@model IEnumerable<webs_YueyxShop.Model.MemberBase>
<input type="hidden" name="pageNum" value="@ViewData["CurrentPage"]" />
<input type="hidden" name="numPerPage" value="@ViewData["NumberPage"]" />
<input type="hidden" name="orderDirection" value="@ViewData["OrderDirection"]" />
<input type="hidden" name="orderField" value="@ViewData["OrderFile"]" />
<table class="table" width="100%" layouth="138" rel="MemberBox">
    <colgroup width="30px" />
    <colgroup width="150px" />
    <colgroup width="80px" />
    <colgroup width="120px" />
    <colgroup width="140px" />
    <colgroup width="180px" />
    <colgroup width="200px" />
    <colgroup />
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                会员名
            </th>
            <th>
                会员类型
            </th>
            <th>
                会员积分
            </th>
            <th>
                手机号
            </th>
            <th>
                创建时间
            </th>
            <th>
                折扣
            </th>
            <th>
                启用状态
            </th>
            <th>
                审批状态
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr target="m_ID" rel="@item.m_ID" >
                <td>
                    @item.m_ID
                </td>
                <td>
                    @if (item.m_UserName != null)
                    {
                        if (item.m_UserName.ToString().Length < 25)
                        {
                        <span>@item.m_UserName</span>
                        }
                        else
                        {
                        <span>@item.m_UserName.ToString().Substring(0, 25).ToString()</span><span>......</span>
                        }
                    }
                </td>
                <td>
                    <span>@item.m_UserType.ToString().Replace("0", "零售用户").Replace("1", "散批用户").Replace("2", "加盟商")</span>
                </td>
                <td>
                    <span>@item.m_Score</span>
                </td>
                <td>
                    @item.m_Phone
                </td>
                <td>
                    @item.m_CreatedOn.ToString("yyyy-MM-dd hh:mm:ss")
                </td>
                <td>
                    @{
               webs_YueyxShop.BLL.VipRank vipbll = new webs_YueyxShop.BLL.VipRank();
               var vipRanks = vipbll.GetModelList(" r_Status = 0 and r_Score <= " + item.m_Score);
               decimal vipzhikou=0;
               if (vipRanks != null && vipRanks.Any())
               {
                   webs_YueyxShop.Model.VipRank model = vipRanks.OrderByDescending(m => m.r_Score).FirstOrDefault();
                   if (model != null)
                   {
                      vipzhikou =Convert.ToDecimal(model.r_ZheK);
                   }
               }
                    }
                 @vipzhikou
                </td>
                <td>
                    @if (item.m_StatusCode == 0)
                    {
                        <label style="color: Green;">
                            启用</label>
                    }
                    else if (item.m_StatusCode == 1)
                    { 
                        <label style="color: Red;">
                            冻结</label>
                    }
                </td>
                <td>
                    @if (item.m_ShenPstatus == 0)
                    {
                        <label style="color: red;">
                            未审批</label>
                    }
                    else if (item.m_ShenPstatus == 1)
                    { 
                        <label style="color: Green;">
                            已通过</label>
                    }
                    else
                    { 
                        <label style="color: gray;">
                            已打回</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="panelBar">
    <div class="pages">
        <span>共 @ViewData["TotalCount"] 条</span>
    </div>
    <div class="pagination" rel="MemberBox" targettype="navTab" totalcount="@ViewData["TotalCount"]"
        numperpage="@ViewData["NumberPage"]" pagenumshown="@ViewData["PagenumShown"]" currentpage="@ViewData["CurrentPage"]">
    </div>
</div>
