@using System.Collections.Generic
@using System.Data
<!DOCTYPE html>
<html>
<head>
    <title>月月兴食品商行后台管理系统</title>
    <script type="text/javascript">
        $(document).ready(function () {
            divSearch($("#pagerForm", navTab.getCurrentPanel()), "UnSBox");
        });
        //商品分类联动下拉菜单
        $("#salePagebtype>select").change(function () {
            var valueid = $("#salePagebtype>select").val();
            $.get("/ProductAttributes/GetBattr?code=" + valueid, function (data) {
                if (data != "refresh") {
                    var string = eval('(' + data + ')');
                    var zu = new Array;
                    zu = string.toString().split(",");
                    var html = "<select  class=\"valid\" name=\"unselectType2\" id=\"unselectType2\" >"
                    for (var i = 0; i < zu.length; i++) {
                        if (zu[i] == valueid) {
                            html += " <option value=\"" + zu[i] + "\" selected=\"selected\">" + zu[i + 1] + "</option>";
                        }
                        else {
                            html += " <option value=\"" + zu[i] + "\">" + zu[i + 1] + "</option>";
                        }
                        i += 1;
                    }
                    html += "</select>";

                    $("#salePagemtype").empty().html(html);
                }
                else {
                    $("#salePagemtype").empty().html("<select  class=\"valid\" name=\"unselectType2\" id=\"unselectType2\" ><option value=\"chose\" selected=\"selected\">请选择</option></select>");

                }
            });
        });
//        function getselectType2() {
//            var valueid = $("#salePagemtype>select").val();
//            $.get("/ProductAttributes/GetMattr?code=" + valueid, function (data) {
//                if (data != "refresh") {
//                    var string = eval('(' + data + ')');
//                    var zu = new Array;
//                    zu = string.toString().split(",");
//                    var html = "<select  class=\"combox\" name=\"selectType3\" id=\"selectType3\" >"
//                    for (var i = 0; i < zu.length; i++) {
//                        if (zu[i] == valueid) {
//                            html += " <option value=\"" + zu[i] + "\" selected=\"selected\">" + zu[i + 1] + "</option>";
//                        }
//                        else {
//                            html += " <option value=\"" + zu[i] + "\">" + zu[i + 1] + "</option>";
//                        }
//                        i += 1;
//                    }
//                    html += "</select>";
//                    $("#salePagestype").empty().html(html)
//                }
//                else {
//                    $("#salePagestype").empty().html("<select  class=\"valid\" name=\"selectType3\" id=\"selectType3\" ><option value=\"chose\" selected=\"selected\">请选择</option></select>")
//                }
//            });
        };
    </script>
</head>
<body>
    <form id="pagerForm" method="post"  action="@Url.Action("UnSalesProductList", "SalesProduct")" onsubmit="return divSearch(this,'UnSBox');">
    <input type="hidden" id="hfPid" name="hfPid" value="0" />
    <input type="hidden" id="hf_add" name="hf_add"/>
    <input type="hidden" id="hf_daohang" name="hf_daohang" />
    <input type="hidden" id="hf_cengj" name="hf_cengj" value="0" />
    <input type="hidden" id="hf_bianma" name="hf_bianma" />
    <input type="hidden" id="spageid_list" name="spageid_list" value="0"/>
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td id="td_type">
                        编码：
                    </td>
                    <td>
                        <input type="text" name="txtPrCode" />
                    </td>
                    <td id="td_name">
                        名称：
                    </td>
                    <td>
                        <input type="text" name="txtPrName" />
                    </td>
                   <td >
                        商品分类：
                    </td>
                    <td id="salePagebtype">
                        @Html.DropDownList("selectType") 
                    </td>
                    <td id="salePagemtype">
                   </td>
                    <td id="salePagestype">
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="submit" id="btn_Select">
                                    检索</button></div>
                        </div>
                    </li>
                    <li>
                        <div class="buttonActive">
                            <div class="buttonContent">
                                <button type="reset" id="reset" >
                                    重置</button></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--列表-->
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li id="lilayer"><a class="details" href="@Url.Action("ProductsDetail?otype=look&dli_id={dli_id}", "Products")"  target="navTab" ><span>商品详情</span></a></li>
                <li id="liline" class="line">line</li>
                @if (Convert.ToBoolean(ViewData["IsHasFunRole"]))
                {
                    <li><a class="delete"   href="@Url.Action("ProductsShangjia?dli_id={spageid_list}", "SalesProduct")"  target="ajaxTodo" title='确定将选中商品上架？' warn="请选择信息！！！" rel="w_ProductsShangjia">
                        <span>批量上架</span></a></li>
                    <li><a class="edit" href="@Url.Action("UnSalesProductsEdit?otype=modify&dli_id={dli_id}", "SalesProduct")" rel="w_UnSalesProductsEdit"
                     target="dialog"  ><span>编辑</span></a></li>
                    <li class="line">line</li>
                    <li><a class="delete" href="@Url.Action("ProductsDelete?dli_id={dli_id}", "SalesProduct")" rel="w_ProductsDelete"
                    target="ajaxTodo" title='确定删除' warn="请选择信息！！！"><span>删除</span></a></li>
                    <li class="line">line</li>
                    <li><a class="unlock"  href="@Url.Action("ProductsEnable?otype=enable&dli_id={dli_id}", "SalesProduct")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>启用</span></a></li>
                    <li><a class="lock"  href="@Url.Action("ProductsEnable?otype=enable&dli_id={dli_id}", "SalesProduct")"
                    target="ajaxTodo" warn="请选择信息！！！"><span>禁用</span></a></li>
                }
            </ul>
        </div>
        <div id="UnSBox">

       </div>
    </div>
    </form>
</body>
</html>
