@using webs_YueyxShop.Model

@{
    Layout = null;
}
@{
    int ii = 0;
    foreach (var i in Model)
    {
    <li>
        <a href="/ProDetail/ProDetail?skuid=@i.productSkuInfo.sku_ID"><img name="page_cnt_1" _src="@i.productImgInfo.pi_Url" alt="@i.p_Name" /></a>
        <p><b>￥@i.productSkuInfo.sku_Price</b><del>￥@i.productSkuInfo.sku_scPric</del></p>
        <p><a href="/ProDetail/ProDetail?skuid=@i.productSkuInfo.sku_ID">@i.p_Name @i.productAttrInfo.pa_Name</a></p>
        <p>评论<span>@i.productAppInfo.pa_ID</span>条</p>
    </li>
        if (++ii == 3)
        {
            break;
        }
    }
}